click==8.1.0
Flask==2.1.0
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
psycopg2-binary==2.9.9
Werkzeug==2.0.2
pandas==2.2.2
pymongo[tls,srv,snappy,zstd,encryption]==4.0.2
Flask-PyMongo==2.3.0
SQLAlchemy==1.4.22
pytz==2021.3
six==1.16.0
python-dateutil==2.8.2
