<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>MapDemo</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
    <style type="text/css">
        .leaflet-container{background-color:#c5e8ff;}
    </style>
</head>
    
    <!-- Our CSS -->
    <!--<link rel="stylesheet" type="text/css" href="static/css/style.css">-->

  </head>
  <body>
    <div id="map" style="width: 600px; height: 400px"></div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
   
    <!-- JavaScript file -->
    <script type="text/javascript" src="static/js/logic.js"></script> 
    <!-- <script type="text/javascript" src="static/js/logic2.js"></script> -->
    <!-- <script type="text/javascript" src="static/js/logic3.js"></script> -->
    <!-- <script type="text/javascript" src="static/js/logic4.js"></script> -->
</body>
</html>

  

  </body>
</html>